.header {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 15px;
  &_logo {
    width: 60%;
  }
  &_backBtn {
    background-color: $btnColor;
    padding: 15px;
    border-radius: 20px;
    color: $mainTextColor;
    text-transform: uppercase;
    box-shadow: 0px 5px rgb(213, 142, 98);
    padding: 10px 6px;
    &-img {
      width: 40%;
    }
  }
}

body {
  background-color: #f8e5f9;
}
