.solution,
.error {
  max-width: 380px;
  margin: 20px;
  display: flex;
  justify-content: space-between;
}

.error {
  &_title {
    color: $btnColor;
    text-transform: uppercase;
    font-size: 10px;
  }
  &_flex {
    display: flex;
    flex-direction: column;
  }
  &_letters {
    display: flex;
  }
  &_letter {
    margin-right: 5px;
    color: $mainTextColor;
    font-size: 20px;
    text-transform: uppercase;
  }
}


.solution {
  .letters {
    display: flex;
    .letter {
      width: 15px;
      text-transform: uppercase;
      margin-right: 5px;
      border-bottom: 3px solid $mainTextColor;
    }
  }
}
